<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- Brand -->
      <%= link_to "Navbar", root_path, class: "navbar-brand mt-2 mt-lg-0" %>
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
      </ul>
      <!-- End left links -->
    </div>
    <!-- end of Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center">

      <!-- Notification area -->
      <!-- end of Notification area -->

      <!-- Profile menu -->
      <% if user_signed_in? %>
        <%= link_to "#", id: "navbarDropdownMenuLink", class: "dropdown-toggle d-flex align-items-center hidden-arrow",
                    role: "button", "aria-expanded": "false", data: { "bs-toggle": "dropdown" } do %>
          <%= image_tag avatar_url_for(current_user, size: 25), class: "rounded-circle", height: 30, alt: "", loading: "lazy" %>
        <% end %>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
          <li><%= link_to "Profile", user_path(current_user), class: "dropdown-item" %></li>
          <li><%= link_to "Settings", edit_user_registration_path(current_user), class: "dropdown-item" %></li>
          <div class="dropdown-divider"></div>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
        </ul>
      <% else %>
        <ul class="navbar-nav d-flex flex-row">
          <li class="nav-item me-2"><%= link_to "Sign up", new_user_registration_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Log in", new_user_session_path, class: "nav-link" %></li>
        </ul>
      <% end %>
    </div>
    <!-- end of Profile menu -->

  </div>
</nav>